# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# App Specific
instance/
music.db
usb_drive/
noten sven/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary Scripts
reproduce_gdown.py

# Flutter / Android
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android_app/build/
android_app/.dart_tool/
android_app/.idea/
android_app/android/.gradle/
android_app/android/local.properties

